.bg-img{
    /* The image used */
    background-image: url("image/bg.png");
    min-height: 600px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
  }
  .bg-second{
    background-color: #04040594;
    padding: 0%;
  }
  .social{
      float: right;
      padding-right: 20%;
      width: 15%;
      height: 15%;
      padding-bottom: 10%;
  }
  .icons{
      float: right;
      padding-right: 5%;
  }
  .text{
      color: white;
      padding-top: 10%;
      padding-left: 10%;
  }
  .row{
      background: black;
  }
  .back{
      background: rgba(0, 0, 0,0.7);
  }
  .tr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }
 .ht{
     height: 50%;
 }
 .bg-imgs{
    /* The image used */
    background-image: url("image/BG_2.png");
    min-height: 500px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
 }
 .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
  }
  /* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  } */
  .crd{
      background-image: url("./image/image_3.jpg");
      min-height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .crd-1{
    background-image: url("./image/image_2.jpg");
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.crd-2{
    background-image: url("./image/image_4.jpg");
    min-height: 306px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.crd-3{
    background-image: url("./image/image_1.jpg");
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}